.grey-box {
    background-color: grey;
    color:white;
    padding:25px 5px 25px 20px; 
    border-bottom:5px black solid; 


}
.circle {
    height: 200px;
    width: 200px; 
    background-color:blue ;
    border-radius: 50%;
    margin: 35px;
}
.oval{
    height: 200px;
    width: 200px; 
    background-color:blue ;
    border-radius: 50%;
    border:10px solid orange

}
.square {
    height:200px; 
    width:200px;
    background-color:orange;
    padding:25px 25px 25px 25px; 
    margin: 35px;

}

}
.bottombox {
    background-color: grey;
    color:white;
    padding:25px 5px 25px 20px; 
    border-bottom:5px black solid; 
    

}
p {
    text-decoration: underline;
}
.square-box {
    background-color: grey;
    color:white;
    padding:25px 5px 25px 20px; 
    border-bottom:5px black solid; 
}
.squarebox {
    background-color: grey;
    color:white;
    padding:25px 5px 25px 20px; 
    border-top: 4px  black solid; 

}
.squareborder {
    height:200px; 
    width:200px;
    background-color:orange;
    padding:25px 25px 25px 25px; 
    margin: 35px;
    border: 10px solid blue; 